.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 3em;
  min-height: 100vh;

  font-family: var(--font);
}

.description {
  max-width: var(--max-width);
}

.header {
  padding-bottom: 20px;
  max-width: 100%;
}

.purpose {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 20px 0px;
  gap: 30px;

  padding-bottom: 20px;
  border-bottom: 4px solid var(--blue);
}

.purpose p {
  font-size: 1.3em;
  padding-bottom: 1em;
}

.prepose {
  display: grid;
  grid-template-columns: 0.33fr 0.66fr;
  align-items: end;
  padding-bottom: 20px;
  border-bottom: 4px solid var(--blue);
}

.howToTitle {
  padding: 20px 0px;
  border-bottom: 4px solid var(--blue);
}

.steps { 
  display: grid;
  grid-template-columns: 0.33333fr 0.66666fr;

  padding: 20px 0px;
  border-bottom: 4px solid black;
}

.authors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 20px 0px;
  gap: 20px;
  padding-top: 100px;
}

.newsletterContainer {
  height: 100%;
  width: 100%;
  padding: 5em 0px 3em;
  border-bottom: 4px dotted var(--blue);
}

.news {
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid rgb(240, 242, 248);
  padding: 20px 10px;
  font-size: 18px;
  letter-spacing: 0.25px;
  font-weight: 400;
  margin: 30px 0px;
  border-radius: 0px;
}

.errorMessage {
  color: var(--rojo);
  padding-top: 1.2em;
  font-weight: 700;
}

.successMessage {
  color: green;
  padding-top: 1.2em;
  font-weight: 700;
}

.subButton {
  background-color: var(--blue);
  border-radius: 50px;
  border: none;
  margin-top: 10px;
  padding: 15px 20px;
  align-items: center;
  
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 100;
  color: white;

  cursor:pointer;
}

.titles {
  font-size: 0.9em;
  color: var(--blue);
}

.portraits img {
  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {

}

@media (prefers-reduced-motion) {

}

/* Mobile */
@media (max-width: 700px) {
  .main {
    margin: 8px;
  }

  .description {
    max-width: 100%;
  }

  .purpose {
    grid-template-columns: 100%;
  }

  .prepose {
    grid-template-columns: 100%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .description {
    width: 752px;
    max-width: 100%;
  }
}

@media (prefers-color-scheme: dark) {

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
